body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.container {
    max-width: 900px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}